@page "/"
<Row Class="mb-4">
    <Column ColumnSize="ColumnSize.Is6">
        <h3>Save Image To Database</h3>
        <p>
            <InputFile OnChange="@OnInputFileChange" />
        </p>
        @if (imageDataUrls.Count > 0)
        {
            <h4>Images</h4>
            <div class="card" style="width:30rem;">
                <div class="card-body">
                    @foreach (var imageDataUrl in imageDataUrls)
                    {
                        <img class="rounded m-1" src="@imageDataUrl" />
                    }
                </div>
            </div>
        }
    </Column>
</Row>
<hr>
<Row Class="mb-4">
    <Column ColumnSize="ColumnSize.Is6">
        <h3>Get Image From Database</h3>
        <div class="card" style="width:30rem;">
            <div class="card-body">
                <img class="rounded m-1" src="@GetImage" />
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" @onclick="@GetImageFromDb">GetImage</button>
            </div>
        </div>
    </Column>
</Row>